body{
font-family: cursive;
text-align: center;
}
h1{
   color: black;
   display: center;
   font-size: 60px;
   background-color: rgb(255, 255, 255);
    
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    flex-direction: row;
    float: rigth;
    list-style: none;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    }
nav ul li{
    text-align: center;
    width: 100%;
    
}
nav ul li a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: black

}
address{
    background-color: rgb(255, 255, 255);
}
p{
    background-color: white;
}
table tr td{
    border-color: rgb(190, 76, 76);
    border-style: solid;
    width: 30%;
}

    
